<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, your issue has been updated!</h1>
    <p>
      To check the status click on the following link<br>
      <%= scream_url(@scream) %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>