<h1>New Administration</h1>

<div class="alert alert-info mb-2">
	This user will be email its password to its email address after saving.
</div>

<%= render 'form', administration: @administration %>

<%= link_to 'Back', administrations_path %>
