<h1>New Solver</h1>

<div class="alert alert-info mb-2">
	This user will be email its password to its email address after saving.
</div>

<%= render 'form', solver: @solver %>

<%= link_to 'Back', solvers_path, class: 'btn btn-secondary' %>
